@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

$main_font_family : 'Lato', sans-serif;
$titles_font_family : 'Arvo', serif;

body {
    font-family: $main_font_family;
    font-size: 16px;
    line-height: 24px;
    color: $font_color;
}

h1, h2 {
    font-family: $titles_font_family;
}

h3 {
    font-family: $main_font_family; //no need
}

a {

}