@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

$main_font_family : 'Lato', sans-serif;
$titles_font_family : 'Arvo', serif;

body {
    font-family: $main_font_family;
    font-size: $font-size;
    line-height: $line-height;
    color: $font_color;
}

p {
    margin: 0 auto 0.8em;
}

h1, .h1 {
    font-family: $titles_font_family;
    font-size: 3em;
    line-height: 2em;
    font-weight: 400;
    color: $neutral;
    margin: 0; //en general?
    padding: 20px 0 0 0;
}

h2 {
    font-family: $titles_font_family;
    margin-top: 0;
    font-size: 1.75em;
}


h3 {
    font-family: $main_font_family; //no need
    color: $primary_color;
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 500;
    margin: 0 auto 15px ;
}

a:not(.btn) {
    color:$secondary_color;
    text-decoration: none;
    position: relative;

    &:after {
        content: '';
        border-bottom: 1px solid $secondary_color;
        display: block;
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
    }

    &:hover {
        &:after {
            display: none;
        } 
    }
}

