/* || Section Header - hero */

.main_header {
    background-color: $secondary_color;
    text-align: center;
    
    h1 {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        &::after {
            content: '';
            background-image: url('../assets/pro-badge.svg');
            display: block;
            position: absolute;
            right: -42px;
            top: 30px;
            width: 42px;
            height: 22px;
            background-size: auto;
            background-repeat: no-repeat;
        }
    }
    
    p {
        color: $neutral;
        font-size: 1.25em;
        line-height: 1.75em;
        max-width: 626px;
        margin: 0 auto;
    }
    
    .buttons-section {
        margin: 50px auto;
        @media(max-width: $mobile) {
            margin: 30px auto;
        }
    }

    .video {
        @extend .container;  
        box-shadow: $shadow;
        border-radius:6px; 
        position: relative;
       
        .video-wrapper {
            background-color: $neutral;
            overflow: hidden;
            position: relative; 
            
            .video-cover {
                padding: 50px;  
            }
           
            .h1 {
                color: $primary_color;
                font-size: 2.7em;
            }
           
            p {
                color: lighten($font_color, 15%); // con la opacidad del color reducdia
                font-size: 1.7em;
                line-height: 1.3em;
                letter-spacing: 0.2px;
                margin-bottom: 3px;
            }
            
            .play-button {
                position: absolute;
                top: calc(50% - 62px);
                left: calc(50% - 62px);
                border: none;
                background: transparent;
                margin: 0;
                padding: 0;

                @media(max-width: $mobile) {
                    top: 30%;
                }

                &:hover {
                    cursor: pointer;
                }
               
                img {
                    box-shadow: $shadow;
                    border-radius: 50%;
                }
            }
           
            .video-iframe {
                background-color: #000000;
            }
        }
    }
}

/* || MAIN */

main {
    background: $neutral;
    margin-top: -270px;
    padding-top: 270px;
}

/* || Section Features & secondary features */

.features {
    @extend .wrapper;
    max-width: $container + 100;
   
    .features-item {
        grid-column: span 4;
        padding: 40px 50px;
        text-align: center;
        border-right: 1px solid $light_colour;
        border-top: 1px solid $light_colour;

        &:first-child, &:nth-child(2), &:nth-child(3) {
            border-top: 0;
        }

        &:nth-child(3n + 0) {
            border-right: 0;
        }

        h3 {
            max-width: 250px;
        }

        img {
            margin-bottom: 25px;
            height: 42px;
        }

        @media(max-width: $container) {
            padding: 30px;
        }

        @media(max-width: $mobile) {
            grid-column: span 12;
            margin: 0px 40px;
            border-right: 0;
            &:nth-child(2), &:nth-child(3) {
                border-top: 1px solid $light_colour;
            }
            
        }
    }
}

/* || Section testimonials */

.testimonials {
    background: $gradient;
   
    .testimonials-wrapper {
        @extend .wrapper;
        @extend .container;
        @extend .gap;
    
    
       .testimonials-item-wrapper {
            grid-column: span 4;
           
            @media(max-width: $mobile) {
                grid-column: span 12;
            }
            
            .testimonials-item {
                padding: 30px;
                border: 1px solid $light_colour;
                border-radius: 6px;
                background-color: $neutral;
                
                .testimonials-details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;  
                    font-size: 0.9em;
                    color: lighten($font_color, 20%);
                    
                    .stars {
                        background-image: url('../assets/icons/star-solid.svg');
                        height: 16px;
                        float: right;
                      
                        &.stars-five {
                            width: 16px * 5;
                        }
                        &.stars-four {
                            width: 16px * 4;
                        }
                        &.stars-three {
                            width: 16px * 3;
                        }
                        &.stars-two {
                            width: 16px * 2;
                        }
                    }
                }
            }
        }
    }
}

/* || Buttons Section */

.buttons-section {
    margin: 0px auto;
    text-align: center;
    padding-top: 0;
}

/* || Gain control Section */

.gain-control {
    background-color: $primary_color;
    color: $neutral;
    .gain-control-wrapper {
        @extend .wrapper;
        @extend .container;
        @extend .gap;
        
        .gain-control-column {
            grid-column: span 6;
            
            @media(max-width: $mobile) {
                grid-column: span 12;
            }
            
            p {
                font-size: 1.125em;
                line-height: 1.58em;
                color: $light_grey_font;
            }

            &.image-column {
                border-radius: 6px;
                overflow: hidden;
                line-height: 0;
            }
        }
    }
}

/* || Screenshots Section */
.screenshots {
    background: $gradient;
  
    .screenshots-wrapper {
        @extend .wrapper;
        @extend .container;
        @extend .gap;
        overflow: visible;
       
        .screenshots-item {
            grid-column: span 6;
            overflow: visible;
            
            @media(max-width: $mobile) {
                grid-column: span 12;
            }
            
            img {
                box-shadow: $shadow;
                border-radius: 6px;
            }
        }
    }
}

/* || Secondary features Section */

.secondary-features {
    padding-top: 0;
    text-align: center;
    
    .container {
        @extend .container;
       
        h3{
            padding: 0 15px;
        }
    }
    
    .features {
        margin: 50px auto 100px auto;
        
        .features-item {
            padding: 0 50px;
            @media(max-width: $container) {
                padding: 30px;
            }
        }
    }
}

