$container: 960px;

$font-size: 16px;
$line-height: 24px;
//screen sizes
$mobile: 660px;
$desktop: $container;
$large_desktop : 1600px;


//colours
$font_color: #777777;
$primary_color: #444444;
$secondary_color: #036AAB;
$cta_color: #E27730;
$cta_secondary_color: #025A91;
$neutral: #ffffff;
$border_color: #024F80;

$light_colour: #DDDDDD;


$lighter:#C15E26;

$light_grey: #F8F8F8;
$light_grey_font: #CCCCCC;

$gradient: linear-gradient(180deg, $light_grey 0%, $neutral 100%);




