$container: 960px;
//colours

$font_color: #777777;
$primary_color: #444444;
$secondary_color: #036AAB;
$cta_color: #E27730;
$cta_secondary_color: #025A91;

$light_colour: #DDDDDD;
$gradient: linear-gradient(180deg, #F8F8F8 0%, #FFFFFF 100%);; // todo


//font

